* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100%;
    background-color: #fcfcfc;
    font-family: 'Noto Serif JP', serif;
}

#grid {
    width: 60%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";
}

.header {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 14px;
    letter-spacing: 0.2em;
}

img {
    max-width: 200px;
    max-height: 200px;
    margin: 30px 0;
}

#1 {
    grid-area: a;
}
#2 {
    grid-area: b;
}
#3 {
    grid-area: c;
}
#4 {
    grid-area: d;
}
#5 {
    grid-area: e;
}
#6 {
    grid-area: f;
}
#7 {
    grid-area: g;
}
#8 {
    grid-area: h;
}
#9 {
    grid-area: i;
}

.flip {
	-webkit-animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-6 17:53:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-fwd
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
            transform: translateZ(160px) rotateY(180deg);
  }
}
@keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
            transform: translateZ(160px) rotateY(180deg);
  }
}
